.service {
    background-image: url(../images/bllurred-background.jpg);
    color: #fff;
}

.service-title {
    font-size: 50px;
    line-height: 40px;
    font-family: Bree Serif;
    font-weight: bold;
}

.service-description {
    font-size: 20px;
}


.link-interv:hover{
    color: #fff;
    text-decoration: underline;
}


.intern-page-style {
    margin-top: 15%;
}


.card-body-intervention {
    background-color: #005b88;
}


.card-body-title {
    color: #fff !important;
    font-size: 28px !important;
    font-family: Bree Serif !important;
    font-weight: bold;

}