.center {
    text-align: center;
}

.flex-style {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 0;
    opacity: 0.25;
}

.link {
    padding-right: 2%;
}

.link-desk {
    color: white !important;
}

.sublink {
    font-size: 15px;
}

@media screen and (max-width: 993px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .desktop {
        display: inline;
        background: transparent;
    }
}





.menu-bar {
    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    padding-right: 20px;
    position: relative;
}

.menu-bar ul li a:hover {
    color: var(--color-primary);
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    width: max-content;
    left: 0;
    top: 100%;
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    margin-left: 0px;
    margin-bottom: 11px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    color: #0175aa;
}

.dropdown-menu-1 {
    display: none;
    margin-bottom: 5px;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    /* padding: 0.5rem 0; */
    font-size: 15px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba (0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu {
    font-size: 15px !important;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 109%;
    top: 0;
    width: max-content;
    border: 1px solid rgb(134, 126, 126);
}

.chir-corp {
    top: 0 !important;
    width: max-content !important;
}

.header {
    position: fixed;
    background-color: #fff;
}

.header a {
    color: black !important;
}


.desktop {
    position: absolute;
    z-index: 999;
    color: white;
    width: 100%;
}

/* .desktop a {
    color: white;
} */


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}